<script type="text/javascript" src="dancelor/compose.js"></script>

<!-- <form>
  <input type="text" class="form-control" id="name" placeholder="Set Name" />
  <br/>

  <input type="text" class="form-control" id="kind" placeholder="Set Kind (eg. 8x32R)" />

  <hr/>

  <div id="tunesArea"></div>

  <button type="button" class="btn btn-success" onClick="save();">Save</button>

  <input type="text" class="form-control" id="search" placeholder="Search for a tune (press enter to apply search)" />
  <div id="searchResults"></div>


  <script type="text/javascript">
    /* List of all the tunes in the database */

    var allTunes = [];

    fetch('/api/tune/all')
    .then(function (response) {
	return response.json();
    })
    .then(function (json) {
	allTunes = json['tunes'];
    });

    /* List of the tunes in the set */

    var tunes = [];

    function refreshTunes () {
	var tunesAreaHTML = '';

	tunes.forEach(function (tune, index) {
	    tunesAreaHTML +=
		tune['group']['name'] + '<br/>'
		+ '<img src="/tune/' + tune['slug'] + '.png" />'
		+ '<br/>'
		+ '<button type="button" class="btn btn-default" onClick="moveUpTune(' + index + ');">Monter</button>'
		+ '<button type="button" class="btn btn-default" onClick="moveDownTune(' + index + ');">Descendre</button>'
		+ '<button type="button" class="btn btn-danger" onClick="removeTune(' + index + ');">Supprimer</button>'
		+ '<hr/>';
	});

	document.getElementById('tunesArea').innerHTML = tunesAreaHTML;
    }

    function removeTune (i) {
	tunes.splice(i, 1);
	refreshTunes();
    }

    function moveUpTune (i) {
	if (i >= 1) {
	    var tmp = tunes[i-1];
	    tunes[i-1] = tunes[i];
	    tunes[i] = tmp;
	    refreshTunes();
	}
    }

    function moveDownTune (i) {
	if (i + 1 < tunes.length) {
	    var tmp = tunes[i+1];
	    tunes[i+1] = tunes[i];
	    tunes[i] = tmp;
	    refreshTunes();
	}
    }

    function tuneFromSlug (slug) {
	return allTunes.find(function (tune) {
	    return (tune['slug'] == slug);
	});
    }

    function addTune (slug) {
     	tunes.push(tuneFromSlug(slug));
     	refreshTunes();
    }

    function searchTune () {
	var input = document.getElementById('search').value;

	var searchResultsHTML = '<table>';
	allTunes.forEach(function (tune) {
	    if (~ tune['group']['name'].toLowerCase().indexOf(input.toLowerCase())) {
		searchResultsHTML
		    += '<tr>'
		    +    '<td>' + tune['score'] + '</td>'
		    +    '<td>' + tune['group']['name'] + '</td>'
		    +    '<td>' + tune['bars'] + ' ' + tune['group']['kind'] + '</td>'
		    +    '<td>' + tune['structure'] + '</td>'
		    +    '<td><a href="#" onClick="addTune(\'' + tune['slug'] + '\');">Add</a></td>'
		    +  '</tr>';
	    }
	});
	searchResultsHTML += '</table>';
	document.getElementById('searchResults').innerHTML = searchResultsHTML;
    }

    function save () {
	var name = document.getElementById('name').value;
	var kind = document.getElementById('kind').value;

	var uri = '/api/set/save'
	    + '?name=' + encodeURIComponent(name)
	    + '&kind=' + encodeURIComponent(kind);
	tunes.forEach(function (tune) {
	    uri += '&tunes=' + tune['slug'];
	});

	fetch(uri)
	    .then(function (response) {
		return response.json();
	    })
	    .then(function (json) {
		window.location.href = json['set']['link'];
	    });
    }

    // ======================== Register events ======================== //

    document.getElementById('search').addEventListener("keyup", function (event) {
	//if (event.key === 'Enter') {
	    searchTune();
	//}
    });
    searchTune();
  </script>
</form> -->
