<form action="" method="get">
  <input type="text" class="form-control" name="name" placeholder="Name of the Set" />
  <br/>

  <input type="text" class="form-control" name="kind" placeholder="Kind of the Set (eg. 8x32R)" />

  <hr/>

  <div id="tunesArea"></div>

  <input type="text" class="form-control" id="add-tune" placeholder="Add a tune" />

  <hr/>

  <button type="button" class="btn" onClick="save();">Save</button>

  <script type="text/javascript">
    var tunes = [];
    var allTunes = [];
    var tunesArea = document.getElementById('tunesArea');

    fetch('/api/tune/all')
    .then(function(response) {
	return response.json();
    })
    .then(function(myJson) {
	allTunes = myJson['tunes'];
    });

    function refreshTunes () {
	tunesArea.innerHTML = '';

	tunes.forEach(function (slug, index) {
	    var [slug, subslug] = slug.split(':', 2); // subslug can be undefined
	    tunesArea.innerHTML +=
		'<img src="/tune/version.png?slug=' + slug
		+ ((typeof subslug === "undefined") ? "&default" : ("&subslug=" + subslug))
		+ '" />';
	    tunesArea.innerHTML += '<button type="button" class="btn" onClick="moveUpTune(' + index + ');">Monter</button>';
	    tunesArea.innerHTML += '<button type="button" class="btn" onClick="moveDownTune(' + index + ');">Descendre</button>';
	    tunesArea.innerHTML += '<button type="button" class="btn" onClick="removeTune(' + index + ');">Supprimer</button>';
	    tunesArea.innerHTML += '<hr/>'
	});
    }

    function addTune () {
	var input = document.getElementById('add-tune');
	var slug = input.value;
	tunes.push(slug);
	refreshTunes();
    }

    function removeTune (i) {
	tunes.splice(i, 1);
	refreshTunes();
    }

    function moveUpTune (i) {
	if (i >= 1) {
	    var tmp = tunes[i-1];
	    tunes[i-1] = tunes[i];
	    tunes[i] = tmp;
	    refreshTunes();
	}
    }

    function moveDownTune (i) {
	if (i + 1 < tunes.length) {
	    var tmp = tunes[i+1];
	    tunes[i+1] = tunes[i];
	    tunes[i] = tmp;
	    refreshTunes();
	}
    }

    // ======================== Register events ======================== //

    document.getElementById('add-tune').addEventListener("keyup", function (event) {
	if (event.key === "Enter") {
	    addTune ();
	}
    });
  </script>
</form>
