<h1>{{tune.name}}</h1>

<p>Kind: {{tune.kind}}</p>
{{#tune.author}}<p>Author: <a href="{{tune.author.link}}">{{tune.author.line}}</a></p>{{/tune.author}}

<h3>Default version</h3>
{{#tune.default_version}}
<p>Kind: {{bars}} {{tune.kind}}</p>
<p>Structure: {{structure}}</p>
<p>Key: {{key}}</p>
<img src="{{link_png}}" />
<br/>
<a href="{{link}}">Link to this version</a> - <a href="{{link_ly}}">Get the Lilypond</a>
{{/tune.default_version}}

<hr/>
<h3>Other versions</h3>
{{#tune.other_versions}}
<p>Kind: {{bars}} {{tune.kind}}</p>
<p>Structure: {{structure}}</p>
<p>Key: {{key}}</p>
<img src="{{link_png}}" />
<br/>
<a href="{{link}}">Link to this version</a> - <a href="{{link_ly}}">Get the Lilypond</a>
<br/>
{{/tune.other_versions}}
