<h1>{{tune.name}}</h1>

{{#tune.author}}<p>Author: <a href="{{tune.author.link}}">{{tune.author.line}}</a></p>{{/tune.author}}

<table>
  <tr>
    <th>Default</th>
    <th>Kind</th>
    <th>Structure</th>
    <th>Key</th>
    <th>Link</th>
  </tr>

  {{#tune.default_version}}
  <tr>
    <td>Default</td>
    <td>{{bars}} {{tune.kind}}</td>
    <td>{{structure}}</td>
    <td>{{key}}</td>
    <td><a href="{{link}}">See</a></td>
  </tr>
  {{/tune.default_version}}

  {{#tune.other_versions}}
  <tr>
    <td>Default</td>
    <td>{{bars}} {{tune.kind}}</td>
    <td>{{structure}}</td>
    <td>{{key}}</td>
    <td><a href="{{link}}">See</a></td>
  </tr>
  {{/tune.other_versions}}
</table>
