@media only screen and (min-width: 768px) {

  header div.content * {
    display: inline-block;
    line-height: 70px;
  }

  header a#to_nav {
    display: none;
  }

  header ul#nav {
    float: right;
    display: inline-block !important; /* important so that it outweights JS's style. */
  }

  header ul#nav li {
    float: left;
  }

  header ul#nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    width: 80%;
    margin: auto;
  }
}
