
/* Global settings */

header {
  background: lightgray;
  border-bottom: 1px dashed black;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

header ul#menu {
  list-style: none;
}

header ul#menu li {
  display: inline-block;
  margin: 0 8px;
}

div#content {
  margin: auto;
  width: 80%;
}

footer {
  background: lightgray;
  border-top: 1px dashed black;
  border-bottom: 1px solid black;
  margin-top: 20px;
  width: 100%;
  text-align:center;
}


/* Tune Explorer */

.toggle-button .key-filter {
  display: inline-block;
  text-align: center;
  background-color: #eeeeee;
}

.toggle-button input {
  display: none;
}
