## Emacs
*~
*#
.#*

## direnv
/.direnv
/.envrc
/.pre-commit-config.yaml

## Dune
/*.install
/_build
*.merlin

## Specific
/bin
/doc
/db
/cache
/share/config.json
/share/static/dancelor
/database

## CSS
*.css
*.css.map
.sass-cache
