## Emacs
*~
*#
.#*

## Environment
.direnv
.envrc
/.pre-commit-config.yaml
/result

## Dune
/*.install
/_build
*.merlin

## Specific
/bin
/doc
/cache
/assets/config.json
/database

## Test-specific
geckodriver.log
*.pid
__pycache__
*.side
