## Emacs
*~
*#
.#*

## Environment
.direnv
.envrc
/.pre-commit-config.yaml
result

## Dune
/*.install
/_build
*.merlin

## Specific
/bin
/doc
/db
/cache
/share/static/dancelor
/assets/config.json
/database

## CSS
*.css
*.css.map
.sass-cache
