depexts: [
  [ "timidity++" "freepats-general-midi" "lilypond" "sassc" ]
    { os-distribution = "archlinux" }
  [ "sassc" ]
    { os-distribution = "alpine" }
  [ "timidity" "freepats" "lilypond" "sassc" ]
    { os-distribution = "debian" }
]
