depexts: [
  [ "timidity++" "freepats-general-midi" "inkscape" "lilypond" ]
    { os-distribution = "archlinux" }

  [ "timidity" "freepats" "inkscape" "lilypond" ]
    { os-distribution = "debian" }
]
