.choices {
  display: block;

  &.invalid {
    label {
      border-bottom: 1px solid $orange;
    }
  }

  label {
    display: inline-block;
    font-weight: 0 !important;
    padding: 0.8em 1em; // horizontal padding a bit less than for a standalone button
    margin: 0 0 0.05em 0;
    margin-bottom: 0 !important;
    cursor: pointer;
    border-radius: 0;
    transition: 0.3s;
    user-select: none;
    font-size: 1em;
    border-bottom: 1px solid transparent;

    &:active {
      transform: translateY(2px);
    }
  }

  input:checked + label {
    background: $red;
    border-bottom: 1px solid $red;
    color: $white;
    &:hover {
      background: darken($red, 5%);
      color: darken($white, 5%);
    }
  }

  input {
    display: none;
  }
}
