div.form-element {
  margin-top: 1rem;

  label {
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input {
    border: none;
    background: $white;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 0.5rem 0 0.4rem 0;

    &:focus {
      background: darken($white, 3%);
      border-bottom: 1px solid $red;
    }

    &.invalid {
      border-bottom: 1px solid $orange;
    }
  }

  .message-box {
    min-height: 1.5rem;
    margin-top: 0.5rem;
    font-style: italic;
  }
}
