html {
  overflow-x: hidden;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
}

textarea {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

* {
  max-width: 100%;
}

a, .clickable {
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus, .clickable:hover, .clickable:focus {
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

img {
  max-width: 100%;
}

b {
  display: inline-block;
  font-weight: bold;
  margin-bottom: .3rem; /* Probably not the right place. */
}

@media only screen and (max-width: 767px) {
  .content > h1, .content > hr, .content > div {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

tr {
  text-align: left;
}

th {
  text-align: inherit;
}
