header {
  background: #960010;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

header div.content > * {
  vertical-align: middle;
  line-height: 3rem;
  display: inline-block;
  color: white;
}

header h1 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: -0.04rem;
  margin: 0;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover, header a:focus {
  background: #b60008;
  text-shadow: 0 0 .1rem #ffffff;
}

header a#to_nav {
  font-size: 1.2rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

header a#to_nav:hover, header a#to_nav:focus {
  cursor: pointer;
}

header ul#nav {
  clear: both;
  display: none;
}

@media only screen and (max-width: 767px) {

  header h1 {
    margin-left: .5rem;
  }

  header ul#nav {
    margin-bottom: .5rem;
  }

  header ul#nav li {
    line-height: 2rem;
    width: 100%;
  }

  header ul#nav li a {
    width: 100%;
    padding-left: 1rem;
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {

  header div.content * {
    line-height: 4.5rem;
  }

  header a#to_nav {
    display: none;
  }

  header ul#nav {
    float: right;
    display: inline-block !important; /* important so that it outweights JS's style. */
  }

  header ul#nav li {
    float: left;
  }

  header ul#nav li a {
    padding-left: .5rem;
    padding-right: .5rem;
    display: inline-block;
  }

  .content {
    width: 80%;
    margin: auto;
  }
}
