/* Class for div/span wrapper around a group of buttons. */
.buttons {
  text-align: right;
}

.button {
  display: inline-block;
  padding: 0.8em 1.5em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 0.25em;
  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.2),
    inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
  font-size: 1em;

  &:hover {
    box-shadow:
      0 3px 10px rgba(0, 0, 0, 0.2),
      inset 0 -3px 0 rgba(0, 0, 0, 0.32);
    filter: brightness(95%);
  }
  &:active {
    transform: translateY(2px);
    box-shadow:
      0 3px 10px rgba(0, 0, 0, 0.2),
      inset 0px -1px 0 rgba(0, 0, 0, 0.22);
  }

  background: $white;
  color: $red;
}

.button-success {
  background: $red;
  color: $white;
}

.button-danger {
  background: $orange;
  color: $white;
}

.button-neutral {
  background: $blue;
  color: $white;
}
