html {
  overflow-x: hidden;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 2rem;
  background: $white;
}

* {
  max-width: 100%;
}

a,
.clickable {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
.clickable:hover,
.clickable:focus {
}

.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

img,
object {
  max-width: 100%;
}

b {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.3rem; /* Probably not the right place. */
}

@media only screen and (max-width: 767px) {
  .content > h1,
  .content > hr,
  .content > div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

tr {
  text-align: left;
}

th {
  text-align: inherit;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 22px;
  font-variation-settings: "opsz" 22;
}
