div#issue-report-button {
  height: 4rem;
  width: 4rem;
  bottom: 2%;
  right: 2%;
  position: fixed;
  background-color: $red;
  border-radius: 2rem;
  border: 1px solid $black;
  display: block;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: $white;
    text-decoration: none;
    padding: 1.1rem;
    margin: 0;

    * {
      vertical-align: -50%;
    }

    i {
      font-size: 1.8rem;
      display: inline-block;
    }

    span {
      display: none;
    }
  }

  &:hover {
    width: auto;

    a {
      span {
        display: inline-block;
        margin-left: 0.3rem;
      }
    }
  }
}
