/* Dancelor's main colour, a carmine red. */
$red: #960010;

/* Secondary colours: a ghost white and a smoky black. */
$white: #f7f4f3;
$black: #0d090a;

/* Tertiary colours: an ochre and a lapis lazuli blue. */
$orange: #cd7a13;
$blue: #005d8f;
