/* How to update:
 *
 * - bump Bootstrap source files
 * - copy everything from `<bootstrap>/scss/bootstrap.scss`
 * - add colour overrides after functions but before everything else
 * - add custom style after everything */

@import "./vendored/bootstrap-5.3.5/scss/functions";

$primary: #960010;

// FIXME: choose colours
$secondary: #333333;
$success: #2d8c3c;
$info: #2c7da0;
$warning: #f5a623;
$danger: #ff4136;
$light: #f2f2f2;
$dark: #242424;

$font-family-base: "Source Sans";

$enable-negative-margins: true;

$placeholder-opacity-max: 0.2;
$placeholder-opacity-min: 0.05;

@import "./vendored/bootstrap-5.3.5/scss/variables";
@import "./vendored/bootstrap-5.3.5/scss/variables-dark";
@import "./vendored/bootstrap-5.3.5/scss/maps";
@import "./vendored/bootstrap-5.3.5/scss/mixins";
@import "./vendored/bootstrap-5.3.5/scss/utilities";

@import "./vendored/bootstrap-5.3.5/scss/root";
@import "./vendored/bootstrap-5.3.5/scss/reboot";
@import "./vendored/bootstrap-5.3.5/scss/type";
@import "./vendored/bootstrap-5.3.5/scss/images";
@import "./vendored/bootstrap-5.3.5/scss/containers";
@import "./vendored/bootstrap-5.3.5/scss/grid";
@import "./vendored/bootstrap-5.3.5/scss/tables";
@import "./vendored/bootstrap-5.3.5/scss/forms";
@import "./vendored/bootstrap-5.3.5/scss/buttons";
@import "./vendored/bootstrap-5.3.5/scss/transitions";
@import "./vendored/bootstrap-5.3.5/scss/dropdown";
@import "./vendored/bootstrap-5.3.5/scss/button-group";
@import "./vendored/bootstrap-5.3.5/scss/nav";
@import "./vendored/bootstrap-5.3.5/scss/navbar";
@import "./vendored/bootstrap-5.3.5/scss/card";
@import "./vendored/bootstrap-5.3.5/scss/accordion";
@import "./vendored/bootstrap-5.3.5/scss/breadcrumb";
@import "./vendored/bootstrap-5.3.5/scss/pagination";
@import "./vendored/bootstrap-5.3.5/scss/badge";
@import "./vendored/bootstrap-5.3.5/scss/alert";
@import "./vendored/bootstrap-5.3.5/scss/progress";
@import "./vendored/bootstrap-5.3.5/scss/list-group";
@import "./vendored/bootstrap-5.3.5/scss/close";
@import "./vendored/bootstrap-5.3.5/scss/toasts";
@import "./vendored/bootstrap-5.3.5/scss/modal";
@import "./vendored/bootstrap-5.3.5/scss/tooltip";
@import "./vendored/bootstrap-5.3.5/scss/popover";
@import "./vendored/bootstrap-5.3.5/scss/carousel";
@import "./vendored/bootstrap-5.3.5/scss/spinners";
@import "./vendored/bootstrap-5.3.5/scss/offcanvas";
@import "./vendored/bootstrap-5.3.5/scss/placeholders";

@import "./vendored/bootstrap-5.3.5/scss/helpers";
@import "./vendored/bootstrap-5.3.5/scss/utilities/api";

// Bootstrap icons
@import url("/bootstrap-icons.min.css");

// Custom

a {
  text-decoration: none;
  &:not(.btn):not(.dropdown-item):not(.page-link):hover {
    text-decoration: underline;
  }
}

.hover-opacity-50:hover {
  opacity: 0.5 !important;
  transition: opacity 0.3s ease;
}
