<!DOCTYPE html>
<head>
  <title>All tunes</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>All tunes</h1>

  <form action="" method="get">
    <input type="text" name="name" placeholder="Name" value="{{query.name}}" />
    <input type="text" name="author" placeholder="Author" value="{{query.author}}" />

    <select name="kind">
      <option value="">Any kind</option>
      <option value="j">Jig</option>
      <option value="p">Polka</option>
      <option value="r">Reel</option>
      <option value="s">Strathspey</option>
      <option value="w">Waltz</option>
    </select>

    <select name="keys">
      <option value="">Any key</option>
      <option value="ces">C♭ (7 flat)</option>
      <option value="ges">G♭ (6 flat)</option>
      <option value="des">D♭ (5 flat)</option>
      <option value="aes">A♭ (4 flat)</option>
      <option value="ees,c:m">E♭ / Cm (3 flat)</option>
      <option value="bes,g:m">B♭ / Gm (2 flat)</option>
      <option value="f,d:m">F / Dm (1 flat)</option>
      <option value="c,a:m">C / Am</option>
      <option value="g,e:m">G / Em (1 sharp)</option>
      <option value="d,b:m">D / Bm (2 sharp)</option>
      <option value="a,fis:m">A / F♯m (3 sharp)</option>
      <option value="e,cis:m">E / C♯m (4 sharp)</option>
      <option value="b">B (5 sharp)</option>
      <option value="fis">F♯ (6 sharp)</option>
      <option value="cis">C♯ (7 sharp)</option>
    </select>

    <select name="mode">
      <option value="">Any mode</option>
      <option value="major">Major</option>
      <option value="minor">Minor</option>
    </select>

    <input type="submit" value="Search" />
  </form>

  <hr/>

  <table>
    <tr>
      <th>Score</th>
      <th>Name</th>
      <th>Disambiguation</th>
      <th>Kind</th>
      <th>Key</th>
      <th>Author</th>
    </tr>
    {{#tunes}}
    <tr>
      <td>{{score}}</td>
      <td><a href="/tune?slug={{slug}}">{{name}}</a></td>
      <td>{{disambiguation}}</td>
      <td>{{kind}}</td>
      <td>{{key}}</td>
      <td><a href="/credit?slug={{author.slug}}">{{author.line}}</a></td>
    </tr>
    {{/tunes}}
  </table>
</body>
</html>
