name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  build-and-test:
    name: Build and test (run ${{ matrix.run_number }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        run_number:
          [
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24,
            25,
            26,
            27,
            28,
            29,
            30,
            31,
            32,
            33,
            34,
            35,
            36,
            37,
            38,
            39,
            40,
            41,
            42,
            43,
            44,
            45,
            46,
            47,
            48,
            49,
            50,
            51,
            52,
            53,
            54,
            55,
            56,
            57,
            58,
            59,
            60,
            61,
            62,
            63,
            64,
            65,
            66,
            67,
            68,
            69,
            70,
            71,
            72,
            73,
            74,
            75,
            76,
            77,
            78,
            79,
            80,
            81,
            82,
            83,
            84,
            85,
            86,
            87,
            88,
            89,
            90,
            91,
            92,
            93,
            94,
            95,
            96,
            97,
            98,
            99,
            100,
          ]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Nix caches
        uses: cachix/cachix-action@v16
        with:
          name: dancelor
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      ## The following tests that the development Shell builds properly, but
      ## also it build most of the things that aren't relevant to building
      ## Dancelor. This makes the Actions' feedback more precise.
      - name: Build Nix development Shell
        run: nix build .#devShells.x86_64-linux.default -vL --no-link

      - name: Build (and run unit tests)
        run: nix build .#packages.x86_64-linux.dancelor -vL --no-link

      - name: Build API documentation
        run: nix build .#packages.x86_64-linux.documentation -vL --out-link api-doc

      - name: Run renderer smoke tests
        run: |
          nix build .#checks.x86_64-linux.renderer-tune-snippets -vL --no-link
          nix build .#checks.x86_64-linux.renderer-book-pdf -vL --no-link

      - name: Run integration tests
        run: nix build .#checks.x86_64-linux.integration -vL --no-link
