name: CI

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

## We specify a concurrency group with automated cancellation. This means that
## other pushes on the same `github.ref` (eg. other pushes to the same pull
## request) cancel previous occurrences of the CI.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-via-nix-package:
    name: Build and test (via Nix package)
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Nix caches
        uses: cachix/cachix-action@v16
        with:
          name: dancelor
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build Dancelor's Nix package
        run: nix build .#packages.x86_64-linux.dancelor -vL --no-link

      - name: Build API documentation
        run: nix build .#packages.x86_64-linux.documentation -vL --out-link api-doc

      - name: Run renderer smoke tests
        run: |
          nix build .#checks.x86_64-linux.renderer-tune-snippets -vL --no-link
          nix build .#checks.x86_64-linux.renderer-book-pdf -vL --no-link

      ## NOTE: The following is the dirtiest hack: because integration tests are
      ## very flaky, we just run them a bunch of times in a row.
      - name: Run integration tests
        run: |
          success=false
          for i in $(seq 5); do
            echo
            echo "====================================== [ Run $i ] ======================================"
            if nix build .#checks.x86_64-linux.integration -vL --no-link; then
              success=true
              break
            fi
          done
          $success && exit 0 || exit 1

      - name: Upload GitHub pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: api-doc/

  ## This CI job is similar to the previous one in that it builds Dancelor and
  ## runs some tests. However, it does so via the devShell instead of building
  ## eg. `.#dancelor`. This allows testing the actual development environment.
  ## Some peculiarities:
  ##
  ## - `.#dancelor` is built in release mode, which will disable some tests (eg.
  ##   inline tests) and some warnings, making the previous job more lenient.
  ##
  ## - This job builds the whole devShell which includes things like the LSP.
  ##   They are not needed for testing, but we like to check that they work.
  ##
  ## - We do not run integration tests, because it is very clunky to run them in
  ##   the development environment. (Although doable with something like `make
  ##   dev-test & pytest`.)
  ##
  build-and-test-via-development-shell:
    name: Build and test (in development Shell)
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Nix caches
        uses: cachix/cachix-action@v16
        with:
          name: dancelor
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build Nix development Shell
        run: nix build .#devShells.x86_64-linux.default -vL --no-link

      - name: Build Dancelor in development Shell
        run: nix develop --command dune build

      - name: Run unit tests
        run: nix develop --command dune test

  deploy-documentation:
    name: Deploy documentation
    runs-on: ubuntu-latest
    needs: build-and-test-via-nix-package
    if: github.ref == 'refs/heads/main'

    ## Grant GITHUB_TOKEN the permissions required to make a Pages deployment.
    ## It needs to be able to deploy to pages and to verify that the deployment
    ## originates from an appropriate source.
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub pages
        uses: actions/deploy-pages@v4

  run-pre-commit-checks:
    name: Run pre-commit checks
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@V28
        with:
          extra_nix_config: |
            accept-flake-config = true
            ## Access token to avoid triggering GitHub's rate limiting.
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Nix caches
        uses: cachix/cachix-action@v16
        with:
          name: dancelor
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Run pre-commit checks
        run: nix build .#checks.x86_64-linux.pre-commit -vL --no-link
