name: Flake update

on:
  workflow_dispatch: # manual triggering
  schedule:
    - cron: "0 0 1 * *" # at midnight on the first day of the month

jobs:
  flake-update:
    name: Bump all dependencies

    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'repository_dispatch' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Update flake.lock
        id: update
        uses: determinatesystems/update-flake-lock@v28
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          pr-title: "Bump flake dependencies"

      - name: Set up auto-merge
        run: "gh pr merge --auto --squash ${{ steps.update.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
